<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame-1.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{0,0},{64,64}}</string>
		</dict>
		<key>frame-2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{64,0},{64,64}}</string>
		</dict>
		<key>frame-3.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{128,0},{64,64}}</string>
		</dict>
		<key>frame-4.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{192,0},{64,64}}</string>
		</dict>
		<key>frame-5.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{0,64},{64,64}}</string>
		</dict>
		<key>frame-6.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{64,64},{64,64}}</string>
		</dict>
		<key>frame-7.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>frame</key>
			<string>{{128,64},{64,64}}</string>
		</dict>
		<key>frame-8.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{192,64},{64,64}}</string>
		</dict>
		<key>frame-9.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{0,128},{64,64}}</string>
		</dict>
		<key>frame-10.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{64,128},{64,64}}</string>
		</dict>
		<key>frame-11.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{128,128},{64,64}}</string>
		</dict>
		<key>frame-12.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{192,128},{64,64}}</string>
		</dict>
		<key>frame-13.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{0,192},{64,64}}</string>
		</dict>
		<key>frame-14.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{64,192},{64,64}}</string>
		</dict>
		<key>frame-15.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{128,192},{64,64}}</string>
		</dict>
		<key>frame-16</key>
		<dict>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{192,192},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c63ac17999f746ee253cb9e63215058f:7b9d55d9c4db1e73987b80a4545fa776:c408e1678cc8476d89ba18c5256b3484$</string>
		<key>realTextureFileName</key>
		<string>player_explosion.xnb</string>
		<key>textureFileName</key>
		<string>player_explosion.xnb</string>
	</dict>
</dict>
</plist>
