<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame-1.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920 ,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920 ,1080}}</string>
			<key>frame</key>
			<string>{{0,0},{1920,1080}}</string>
		</dict>
		<key>frame-2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920 ,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{1920,0},{1920,1080}}</string>
		</dict>
		<key>frame-3.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{3840,0},{1920,1080}}</string>
		</dict>
		<key>frame-4.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{5760,0},{1920,1080}}</string>
		</dict>
		<key>frame-5.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{0,1080},{1920,1080}}</string>
		</dict>
		<key>frame-6.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{1920,1080},{1920,1080}}</string>
		</dict>
		<key>frame-7.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>frame</key>
			<string>{{3840,1080},{1920,1080}}</string>
		</dict>
		<key>frame-8.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>frame</key>
			<string>{{5760,1080},{1920,1080}}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
		</dict>
		<key>frame-9.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{0,2160},{1920,1080}}</string>
		</dict>
		<key>frame-10.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{1920,2160},{1920,1080}}</string>
		</dict>
		<key>frame-11.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{3840,2160},{1920,1080}}</string>
		</dict>
		<key>frame-12.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1920,1080}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>frame</key>
			<string>{{5760,2160},{1920,1080}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c63ac17999f746ee253cb9e63215058f:7b9d55d9c4db1e73987b80a4545fa776:c408e1678cc8476d89ba18c5256b3484$</string>
		<key>size</key>
		<string>{7680,3240}</string>
		<key>realTextureFileName</key>
		<string>explosion_1.xnb</string>
		<key>textureFileName</key>
		<string>explosion_1.xnb</string>
	</dict>
</dict>
</plist>
