<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame-1.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{0,0},{82,141}}</string>
		</dict>
		<key>frame-2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{82,0},{82,141}}</string>
		</dict>
		<key>frame-3.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{164,0},{82,141}}</string>
		</dict>
		<key>frame-4.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{0,141},{82,141}}</string>
		</dict>
		<key>frame-5.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{82,141},{82,141}}</string>
		</dict>
		<key>frame-6.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>frame</key>
			<string>{{164,141},{82,141}}</string>
		</dict>
		<key>frame-7.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>frame</key>
			<string>{{0,282},{82,141}}</string>
		</dict>
		<key>frame-8.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>frame</key>
			<string>{{82,282},{82,141}}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
		</dict>
		<key>frame-9.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>frame</key>
			<string>{{184,282},{82,141}}</string>
			<key>sourceSize</key>
			<string>{82,141}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,141}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c63ac17999f746ee253cb9e63215058f:7b9d55d9c4db1e73987b80a4545fa776:c408e1678cc8476d89ba18c5256b3484$</string>
		<key>realTextureFileName</key>
		<string>bomb_gimped.xnb</string>
		<key>textureFileName</key>
		<string>bomb_gimped.xnb</string>
		<key>size</key>
		<string>{246,423}</string>
	</dict>
</dict>
</plist>
